<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/styles.css' />
    <title>App</title>
  </head>
  <body>
    <a class="btn hamburger" id="hamburger">&equiv;</a>
    <div class='buttons mb-2 hidden' id="actions">
      <a class='btn' href="/pdf?{{#if filters.exerciseGroup}}exerciseGroup={{filters.exerciseGroup}}{{/if}}{{#if filters.workshopGroup}}&workshopGroup={{filters.workshopGroup}}{{/if}}{{#if filters.skipOrlof}}&skipOrlof=true{{/if}}">Podgląd PDF</a>
      <a class='btn-filter {{#unless filters.skipOrlof}}btn-filter-active{{/unless}}' href="/?{{#if filters.exerciseGroup}}exerciseGroup={{filters.exerciseGroup}}{{/if}}{{#if filters.workshopGroup}}&workshopGroup={{filters.workshopGroup}}{{/if}}{{#unless filters.skipOrlof}}&skipOrlof=true{{/unless}}">OA Orlof</a>
      <div>
        <div class="mb-1">Grupa warsztatowa:</div>
        <div class="row-2">
          {{#each workshopGroups}}
            <a class="btn-filter {{#if this.active}}btn-filter-active{{/if}}" href="/?{{#if ../filters.exerciseGroup}}exerciseGroup={{../filters.exerciseGroup}}{{/if}}&workshopGroup={{this.number}}{{#if ../filters.skipOrlof}}&skipOrlof=true{{/if}}">
              {{this.number}}
            </a>
          {{/each}}
          <a class="btn-filter {{#unless filters.workshopGroup}}btn-filter-active{{/unless}}" href="/?{{#if filters.exerciseGroup}}exerciseGroup={{filters.exerciseGroup}}{{/if}}{{#if filters.skipOrlof}}&skipOrlof=true{{/if}}">✖</a>
        </div>
      </div>
      <div>
        <div  class="mb-1">Grupa ćwiczeniowa:</div>
        <div class="row-2">
          {{#each exerciseGroups}}
            <a class="btn-filter {{#if this.active}}btn-filter-active{{/if}}" href="/?exerciseGroup={{this.number}}{{#if ../filters.workshopGroup}}&workshopGroup={{../filters.workshopGroup}}{{/if}}{{#if ../filters.skipOrlof}}&skipOrlof=true{{/if}}">
              {{this.number}}
            </a>
          {{/each}}
          <a class="btn-filter {{#unless filters.exerciseGroup}}btn-filter-active{{/unless}}" href="/?{{#if filters.workshopGroup}}&workshopGroup={{filters.workshopGroup}}{{/if}}{{#if filters.skipOrlof}}&skipOrlof=true{{/if}}">✖</a>
        </div>
      </div>
    </div>
    <div class='timetable'>
      {{#with weekA}}
        <h2>Tydzień A</h2>
        <div class='week'>
          {{#each this as |day dayName|}}
            <div class='day'>
              <h3 class='dayName'>{{dayName}}</h3>
              <p class='dayHours'>{{day.hours}}</p>
              <div class='lessons'>
                {{#each day.classes as |class|}}
                  {{#if class.breakBefore.minutes}}
                    <div class="break">{{class.breakBefore.formatted}}</div>
                  {{/if}}
                  <div
                    class='lesson'
                    style='background-color: {{class.color.backgroundColor}}; border: 1px solid {{class.color.borderColor}};'
                  >
                    <div class='row'>
                      <div class='hours'>{{class.start}}
                        -
                        {{class.end}}</div>
                      <div>
                        <div class='subject'>{{class.subject}}</div>
                        <div class='teacher'>{{class.teacher}}</div>
                      </div>
                    </div>
                    <div class='content'>
                      <div>Sala <b>{{class.room}}</b>,</div>
                      <div>grupa
                        <b>{{class.groupType}}
                          {{class.groupNumber}}</b></div>
                      <div class='right'>{{class.type}}</div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/with}}
      <div class='spacer'></div>
      {{#with weekB}}
        <h2>Tydzień B</h2>
        <div class='week'>
          {{#each this as |day dayName|}}
          {{#if class.breakBefore.minutes}}<div class="break">{{class.breakBefore.formatted}}</div>{{/if}}
            <div class='day'>
              <h3 class='dayName'>{{dayName}}</h3>
              <p class='dayHours'>{{day.hours}}</p>
              <div class='lessons'>
                {{#each day.classes as |class|}}
                  {{#if class.breakBefore.minutes}}
                    <div class="break">{{class.breakBefore.formatted}}</div>
                  {{/if}}
                  <div
                    class='lesson'
                    style='background-color: {{class.color.backgroundColor}}; border: 1px solid {{class.color.borderColor}};'
                  >
                    <div class='row'>
                      <div class='hours'>{{class.start}}
                        -
                        {{class.end}}</div>
                      <div>
                        <div class='subject'>{{class.subject}}</div>
                        <div class='teacher'>{{class.teacher}}</div>
                      </div>
                    </div>
                    <div class='content'>
                      <div>Sala <b>{{class.room}}</b>,</div>
                      <div>grupa
                        <b>{{class.groupType}}
                          {{class.groupNumber}}</b></div>
                      <div class='right'>{{class.type}}</div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/with}}
    </div>
    <script>
      const hamburger = document.querySelector('#hamburger')
      hamburger.addEventListener('click', () => {
        const actions = document.querySelector('#actions')
        actions.classList.toggle('hidden')
      })
    </script>
  </body>
</html>