<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/styles.css' />
    <title>App</title>
  </head>
  <body>
    <a class="btn hamburger" id="hamburger">&equiv;</a>
    <div class='buttons mb-2 hidden' id="actions">
      {{!-- <a class='btn' href="/pdf?{{#if filters.exerciseGroup}}exerciseGroup={{filters.exerciseGroup}}{{/if}}{{#if filters.workshopGroup}}&workshopGroup={{filters.workshopGroup}}{{/if}}{{#if filters.skipOrlof}}&skipOrlof=true{{/if}}">Podgląd PDF</a> --}}
      <div class="row-2">
        {{#each groups}}
          <button class="btn-filter {{#if this.active}}btn-filter-active{{/if}}" href="/">
            {{this.name}}
          </button>
        {{/each}}
      </div>
    </div>
    <div class='timetable'>
      {{#with weekA}}
        <h2>Tydzień A</h2>
        <div class='week'>
          {{#each this as |day dayName|}}
            <div class='day'>
              <h3 class='dayName'>{{dayName}}</h3>
              <p class='dayHours'>({{day.hours.start}} - {{day.hours.end}})</p>
              <div class='lessons'>
                {{#each day.classes as |class|}}
                  {{#if class.breakBefore.minutes}}
                    <div class="break">{{class.breakBefore.formatted}}</div>
                  {{/if}}
                  <div
                    class='lesson'
                    style='background-color: {{class.color.backgroundColor}}; border: 1px solid {{class.color.borderColor}};'
                  >
                    <div class='row'>
                      <div class='hours'>{{class.start}}
                        -
                        {{class.end}}</div>
                      <div>
                        <div class='subject'>{{class.subject}}</div>
                        <div class='teacher'>{{class.teacher}}</div>
                      </div>
                    </div>
                    <div class='content'>
                      <div>
                        <div>Sala <b>{{class.room}}</b></div>
                        <div>Grupa <b>{{class.group}}</b></div>
                      </div>
                      <div class='right'>{{class.type}}</div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/with}}
      <div class='spacer'></div>
      {{#with weekB}}
        <h2>Tydzień B</h2>
        <div class='week'>
          {{#each this as |day dayName|}}
          {{#if class.breakBefore.minutes}}<div class="break">{{class.breakBefore.formatted}}</div>{{/if}}
            <div class='day'>
              <h3 class='dayName'>{{dayName}}</h3>
              <p class='dayHours'>({{day.hours.start}} - {{day.hours.end}})</p>
              <div class='lessons'>
                {{#each day.classes as |class|}}
                  {{#if class.breakBefore.minutes}}
                    <div class="break">{{class.breakBefore.formatted}}</div>
                  {{/if}}
                  <div
                    class='lesson'
                    style='background-color: {{class.color.backgroundColor}}; border: 1px solid {{class.color.borderColor}};'
                  >
                    <div class='row'>
                      <div class='hours'>{{class.start}}
                        -
                        {{class.end}}</div>
                      <div>
                        <div class='subject'>{{class.subject}}</div>
                        <div class='teacher'>{{class.teacher}}</div>
                      </div>
                    </div>
                    <div class='content'>
                      <div>
                        <div>Sala <b>{{class.room}}</b></div>
                        <div>Grupa <b>{{class.group}}</b></div>
                      </div>
                      <div class='right'>{{class.type}}</div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/with}}
    </div>
    <script>
      const hamburger = document.querySelector('#hamburger')
      hamburger.addEventListener('click', () => {
        const actions = document.querySelector('#actions')
        actions.classList.toggle('hidden')
      })

      const filters = document.querySelectorAll('.btn-filter')
      filters.forEach((filter) => {
        filter.addEventListener('click', () => {
          filter.setAttribute('disabled', 'disabled')
          const filterText = filter.textContent.toLowerCase().replace(/\s/g, '');
          const queryParams = new URLSearchParams(window.location.search);
          const filtersParam = queryParams.get("filters");
          
          if (filtersParam) {
            const filtersArray = filtersParam.split(",");
            const index = filtersArray.indexOf(filterText);
            
            if (index !== -1) {
              filtersArray.splice(index, 1);
            } else {
              filtersArray.push(filterText);
            }
            
            queryParams.set("filters", filtersArray.join(","));
          } else {
            queryParams.set("filters", filterText);
          }
          
          const newUrl = `${window.location.pathname}?${queryParams.toString()}`;
          window.location.href = newUrl;
        });
      });
    </script>
  </body>
</html>