<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'
      rel='stylesheet'
    />
    {{! <link rel='stylesheet' href='/css/styles.css' /> }}
    <style>
      body { font-family: 'Roboto', sans-serif; margin: 0; padding: 1em; } .week
      { display: flex; gap: 1em; } h2 { text-align: center; } @media screen and
      (max-width: 600px) { .week { flex-direction: column; width: 100%; } } .day
      { flex: 1; } .lessons { display: flex; flex-direction: column; gap: 1em; }
      .lesson { padding: .5em; border-radius: 5px; color: #111111; }
      .lesson:nth-child(n) { background-color: #ffd1dc; border: 1px solid
      #d6a1ac; } .lesson:nth-child(2n) { background-color: #aedff7; border: 1px
      solid #7caecc; } .lesson:nth-child(3n) { background-color: #dfffc5;
      border: 1px solid #b3cc97; } .lesson:nth-child(4n) { background-color:
      #d9cdee; } .lesson:nth-child(5n) { background-color: #ffe4c4; }
      .lesson:nth-child(6n) { background-color: #b2f2d0; } .lesson:nth-child(7n)
      { background-color: #ffa6a1; } .lesson:nth-child(8n) { background-color:
      #aec6ff; } .lesson:nth-child(9n) { background-color: #fffcb5; }
      .lesson:nth-child(10n) { background-color: #ffdee9; } .row { display:
      flex; justify-content: space-between; } .hours { font-weight: bold; }
      .subject { font-weight: bold; text-align: right; } .teacher { font-size:
      .85em; text-align: right; } .dayName { text-align: center; } .content {
      display: flex; gap: .5em; margin-top: 1em; } .right { margin-left: auto; }
    </style>
    <title>App</title>
  </head>
  <body>
    <div class='timetable'>
      {{#with weekA}}
        <h2>Tydzień A</h2>
        <div class='week'>
          {{#each this as |day dayName|}}
            <div class='day'>
              <h3 class='dayName'>{{dayName}}</h3>
              <div class='lessons'>
                {{#each day as |class|}}
                  <div class='lesson'>
                    <div class='row'>
                      <div class='hours'>{{class.start}}
                        -
                        {{class.end}}</div>
                      <div>
                        <div class='subject'>{{class.subject}}</div>
                        <div class='teacher'>{{class.teacher}}</div>
                      </div>
                    </div>
                    <div class='content'>
                      <div>Sala <b>{{class.room}}</b>,</div>
                      <div>grupa
                        <b>{{class.groupType}}
                          {{class.groupNumber}}</b></div>
                      <div class='right'>{{class.type}}</div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/with}}

      {{#with weekB}}
        <h2>Tydzień B</h2>
        <div class='week'>
          {{#each this as |day dayName|}}
            <div class='day'>
              <h3 class='dayName'>{{dayName}}</h3>
              <div class='lessons'>
                {{#each day as |class|}}
                  <div class='lesson'>
                    <div class='row'>
                      <div class='hours'>{{class.start}}
                        -
                        {{class.end}}</div>
                      <div>
                        <div class='subject'>{{class.subject}}</div>
                        <div class='teacher'>{{class.teacher}}</div>
                      </div>
                    </div>
                    <div class='content'>
                      <div>Sala <b>{{class.room}}</b>,</div>
                      <div>grupa
                        <b>{{class.groupType}}
                          {{class.groupNumber}}</b></div>
                      <div class='right'>{{class.type}}</div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/with}}
    </div>

  </body>
</html>