<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=1920' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'
      rel='stylesheet'
    />
    {{! <link rel='stylesheet' href='/css/pdf.css' /> }}
    <style>
      body { font-family: 'Roboto', sans-serif; margin: 0; padding: 1em; zoom:
      0.5; } .week { text-align: center; } h2 { text-align: center; margin: 0; }
      .day { display: inline-block; vertical-align: top; width: calc(20% - 1em);
      } .day:not(:last-child) { padding-right: 1em; } .lesson { padding: 0.5em;
      border-radius: 5px; color: #111111; margin-bottom: 1em; } .table {
      display: table; } .row { display: table-row; } .hours { font-weight: bold;
      text-align: left; display: table-cell; width: 1%; white-space: nowrap; }
      .subjectAndTeacher { display: table-cell; text-align: right; width: auto;
      } .subject { font-weight: bold; text-align: right; } .teacher { font-size:
      0.85em; text-align: right; } .dayName { text-align: center; margin-bottom:
      0; } .dayHours { text-align: center; margin-bottom: 1em; margin-top: 0; }
      .content { margin-top: 1em; } .content > div:not(.right):not(.clear) {
      float: left; } .content > div:first-child { margin-right: 6px; } .right {
      text-align: right; float: right; } .clear { clear: both; }
    </style>
    <title>App</title>
  </head>
  <body>
    <div class='timetable'>
      {{#with weekA}}
        <h2>Tydzień A</h2>
        <div class='week'>
          {{#each this as |day dayName|}}
            <div class='day'>
              <h3 class='dayName'>{{dayName}}</h3>
              <p class='dayHours'>{{day.hours}}</p>
              <div class='lessons'>
                {{#each day.classes as |class|}}
                  <div
                    class='lesson'
                    style='background-color: {{class.color.backgroundColor}}; border: 1px solid {{class.color.borderColor}};'
                  >
                    <div class='table'>
                      <div class='row'>
                        <div class='hours'>{{class.start}}
                          -
                          {{class.end}}</div>
                        <div class='subjectAndTeacher'>
                          <div class='subject'>{{class.subject}}</div>
                          <div class='teacher'>{{class.teacher}}</div>
                        </div>
                      </div>
                    </div>
                    <div class='content'>
                      <div>Sala <b>{{class.room}}</b>,</div>
                      <div>grupa
                        <b>{{class.groupType}}
                          {{class.groupNumber}}</b></div>
                      <div class='right'>{{class.type}}</div>
                      <div class='clear'></div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/with}}

      {{#with weekB}}
        <h2>Tydzień B</h2>
        <div class='week'>
          {{#each this as |day dayName|}}
            <div class='day'>
              <h3 class='dayName'>{{dayName}}</h3>
              <p class='dayHours'>{{day.hours}}</p>
              <div class='lessons'>
                {{#each day.classes as |class|}}
                  <div
                    class='lesson'
                    style='background-color: {{class.color.backgroundColor}}; border: 1px solid {{class.color.borderColor}};'
                  >
                    <div class='table'>
                      <div class='row'>
                        <div class='hours'>{{class.start}}
                          -
                          {{class.end}}</div>
                        <div class='subjectAndTeacher'>
                          <div class='subject'>{{class.subject}}</div>
                          <div class='teacher'>{{class.teacher}}</div>
                        </div>
                      </div>
                    </div>
                    <div class='content'>
                      <div>Sala <b>{{class.room}}</b>,</div>
                      <div>grupa
                        <b>{{class.groupType}}
                          {{class.groupNumber}}</b></div>
                      <div class='right'>{{class.type}}</div>
                      <div class='clear'></div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/with}}
    </div>

  </body>
</html>